# Ambiente Virtual
venv/
.venv/

# Python
__pycache__/
*.pyc

# Arquivos grandes de design
*.psd
*.pptx

# Frontend
frontend/node_modules/
frontend/dist/

#backend

users.json
backend/users.json
manage_users.py
backend/manage_users.py
backend/app/static/fonts
backend/app/static/logos